::-webkit-input-placeholder {
    font-size: 12px!important;
 }
 
 :-moz-placeholder { /* Firefox 18- */
       font-size: 12px!important;
 }
 ::-moz-placeholder {  /* Firefox 19+ */
       font-size: 12px!important;
 }

 .swal-text {
      font-size: 12px;
 }

 .swal-title {
      font-size: 20px;
 }

 #question-td, #question-th {
      padding: 40px;
 }
